#game {
    width: 55vw;
    border: inset 2px #000000;
    border-radius: 0.7rem;
    background-color: white;
}
#persil {
    display: flex;
    text-align: right;
    border-bottom: 2px solid #000000;
    margin-top: 95px;
}
#persilCharacter img {
    margin-right: 15%;
}
#persilCharacter {
    margin-left: 10%;
}
#history {
    margin-left: 15%;
    margin-top: -50px;
}
#historyBasile {
    margin-left: 35%;
    margin-top: -50px;
}
i {
    font-size: large;
}
s {
    text-decoration-color: rgb(255, 0, 0);
    text-decoration-style: wavy;
}
#player img {
    margin-left: 25px;
    width: 100px;
}
#player {
    display: flex;
    border-bottom: 2px solid #000000;
    margin-top: 95px;
}
#ui {
    background-color: #000000;
    display: flex;
    text-align: center;
    font-size: large;
    height: 180px;
}
#options button {
    border-radius: 15px;
    width: 38%;
    font-size: large;
    border: 2px solid #494949;
    margin-top: 10px;
    height: 55px;
}
#chatbox {
    padding-top: 20px;
    padding-left: 10px;
    margin-top: 10px;
    width: 50%;
    color: white;
}
#options {
    padding-top: 20px;
    width: 50%;
}

#question:disabled {
    border: px solid #3a3a3a;
    cursor: not-allowed;
    background-color: rgb(110, 11, 11);
    color: rgb(71, 71, 71);
    width: 90%;
}
#numberInput {
    border-radius: 10px;
    font-size: x-large;
    width: 45px;
    height: 50px;
}
#guess {
    margin-left: -10px;
    background-color: rgb(0, 158, 0);
}
#guess:disabled {
    border: px solid #3a3a3a;
    cursor: not-allowed;
    background-color: rgb(0, 100, 0);
    color: rgb(71, 71, 71);
}
#giveUp {
    background-color: rgb(0, 0, 158);
}
#giveUp:disabled {
    border: px solid #3a3a3a;
    cursor: not-allowed;
    background-color: rgb(0, 0, 100);
    color: rgb(71, 71, 71);
}
#continue:hover {
    cursor: pointer;
}
