#game {
    width: 900px;
    height: 650px;
    border: inset 2px #000000;
    border-radius: 0.7rem;
    background-color: white;
}
#persil {
    width: 100%;
    text-align: right;
    border-bottom: 2px solid #000000;
    margin-left: -10px;
    margin-top: 95px;
}
#persil img {
    width: 50px;
    margin-right: 50px;
}
#player img {
    margin-left: 30px;
    width: 50px;
}
#persilCharacter {
    offset-position: 10px;
}
#player {
    border-bottom: 2px solid #000000;
    margin-top: 95px;
    margin-left: 10px;
    width: 100%;
}
#ui {
    background-color: #000000;
    display: flex;
    text-align: center;
    font-size: large;
    height: 200px;
}
button {
    border-radius: 15px;
    width: 39%;
    border: 2px solid #000000;
    font-size: large;
    height: 55px;
}
#chatbox {
    padding-top: 20px;
    padding-left: 10px;
    width: 50%;
    color: white;
    margin-top: 10px;
}
#options {
    padding-top: 20px;
    width: 50%;
}

.disabled {
    background-color: rgb(67, 72, 88);
    opacity: 0.6;
    cursor: not-allowed;
}

#question {
    border-radius: 10px;
    background-color: rgb(158, 0, 0);
    border: 2px solid #000000;
    display: block;
    margin: 0 auto;
    width: 90%;
}
#numberInput {
    border-radius: 8px;
    font-size: x-large;
    width: 45px;
    height: 45px;
}
#guess {
    border-radius: 10px;
    margin-left: -15px;
    background-color: rgb(0, 158, 13);
    border: 2px solid #000000;
}
#giveUp {
    border-radius: 10px;
    background-color: rgb(0, 37, 158);
    border: 2px solid #000000;
}
