*{
  padding: 0;
  margin: 0;
}


body {
    min-height: 100vh;
    min-width: 100vh;
    color: white;
  }
  
  #score-text {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      padding-top: 15px;
  }
  
  .actions {
      display: flex;
      justify-content: center;
      padding-top: 20px;
  }
  
  .actions button {
      padding: 8px 16px;
      font-size: 30px;
      border-radius: 10px;
      background-color: #27ae60;
      color: white;
  }
  
  .grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 4px;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(5, 100px);
  }
  
  .card {
    width: calc(100px / 2 * 3);
    height: 100px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
  }
  
  .front-image {
    height: 50px;
    /* opacity: 0; */
  }
  
  .front-image .flipped {
    height: 60px;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .front, .back {
      backface-visibility: hidden;
      position: absolute;
      border-radius: 10px;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
  }
  
  .card .front {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card .back {
    background-image: url("./assets/placeholder.jpg");  
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
  }
  
  .card .front {
    transform: rotateY(180deg);
  }