#game {
    width: 900px;
    height: 650px;
    border: inset 2px #000000;
    border-radius: 0.7rem;
    background-color: white;
}
#persil {
    display: flex;
    width: 100%;
    text-align: right;
    border-bottom: 2px solid #000000;
    margin-top: 95px;
}
#history {
    margin-left: 270px;
    margin-top: -50px;
}
#historyBasile {
    margin-left: 380px;
    text-align: left;
    margin-top: -50px;
}
#persil img {
    width: 50px;
    margin-right: 50px;
}
#player img {
    margin-left: 30px;
    width: 100px;
}
#persilCharacter {
    margin-left: 150px;
}
#player {
    display: flex;
    border-bottom: 2px solid #000000;
    margin-top: 95px;
    width: 100%;
}
#ui {
    background-color: #000000;
    display: flex;
    text-align: center;
    font-size: large;
    height: 200px;
}
#options button {
    border-radius: 15px;
    width: 42%;
    border: 5px solid #3a3a3a;
    font-size: large;
    height: 75px;
}
#chatbox {
    padding-top: 20px;
    padding-left: 10px;
    width: 50%;
    color: white;
    margin-top: 10px;
}
#options {
    padding-top: 20px;
    width: 50%;
}
#fight {
    background-color: rgb(158, 0, 0);
    margin-bottom: 10px;
}
#fight:disabled {
    border: 5px solid #3a3a3a;
    cursor: not-allowed;
    background-color: rgb(102, 0, 0);
    color: rgb(71, 71, 71);
}
#rock {
    background-color: rgb(0, 158, 13);
}
#paper {
    background-color: rgb(0, 37, 158);
}
#scissor {
    background-color: rgb(155, 158, 0);
}
#rock.highlighted {
    border: 5px solid #33ff00;
}
#paper.highlighted {
    border: 5px solid #003cff;
}
#scissor.highlighted {
    border: 5px solid #e5ff00;
}
.disabled {
    background-color: rgb(67, 72, 88);
    opacity: 0.6;
    cursor: not-allowed;
}
