#slider {
    width: 700px;
    display: flex;
    background-color: rgb(104, 104, 104);
    border: inset 2px #000000;
    border-radius: 0.7rem;
}
#display {
    padding: 10px;
    padding-left: 17px;
}
#display img {
    width: 100px;
    display: block;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
}
#puzzle {
    width: 600px;
    margin: 0;
    padding: 10px;
    padding-left: 17px;
    position: relative;
    background-color: rgb(255, 255, 255);
    border: inset 2px #000000;
    border-radius: 0.7rem;
}
.tile {
    height: 100px;
    width: 23%;
    margin-right: 7px;
    cursor: pointer;
    border: inset 2px #000000;
    border-style: solid;
}
.selected {
    border-style: dashed;
    border: inset 4px #000;
    color: rgb(0, 0, 0);
    background-color: #dbdbdb;
}
