html {
	background: radial-gradient(circle, #ff8961, #fffb89, #74bdcb, #0e42c4) fixed;
}

h1 {
	text-align: center;
	font-size: 4rem;
}

#tiles {
	width: 400px;
	margin: 0 auto;
	position: relative;
	background-color: white;
	padding: 8px;
	border-radius: 0.5rem;
}

.selected {
	background-color: #fff;
	border: none;
	color: white;
}

.tile {
	height: 80px;
	width: 25%;
	cursor: pointer;
	box-shadow: inset 0 0 2px #000;
}
