/*/ / GENERAL / /*/

*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --height-header: 100px;
    --height-text-balloon: 25%;
    --height-terminal: 50%;
    --height-drawings: 25%;
    --matrix-color: #5ccf32;
    --terminal-background: rgb(40, 40, 49);
    --terminal-text: "Press Start 2P", system-ui;
    --terminal-text-size: 18px;
    --font-size: 28px;
    --basic-body-font: "Space Grotesk", sans-serif;
}

@media screen and (max-height: 700px) {
    :root {
        --font-size: 17px;
    }
}

body {
    width: 100vw;
    height: 100svh;

    font-family: var(--basic-body-font);
    font-size: var(--font-size);

    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: black;
}

h1 {
    font-family: var(--basic-body-font);
    font-size: 36px;
}

h1 a {
    text-decoration: none;
    color: var(--matrix-color);
    text-shadow: 3px 4px 1px black;
}

h1 a:hover {
    text-decoration: underline;
}

/*/ / HEADER-SECTION / /*/

header {
    width: 80%;
    height: var(--height-header);
    display: flex;
    align-items: center;
}

#logo,
#title,
#cv-emblem {
    width: calc(100% / 3);
}

#title {
    text-align: center;
}

#logo img {
    width: 50%;
}

#cv-emblem {
    text-align: right;
}

/*/ /CV-BUTTON-HEADER/ /*/
#cv-emblem a {
    font-family: var(--terminal-text);
    font-size: 1vw;
    text-decoration: none;
    padding: 0.5vw;
    width: 50vw;
    height: 50vh;
    margin: 2em auto;
    box-shadow: -7px 0 0 0 black, 7px 0 0 0 black, 0 -7px 0 0 black,
        0 7px 0 0 black;
}

#cv-emblem a:hover {
    background-color: black;
    color: white;
}

/*/ / MAIN / /*/
main {
    width: 80%;
    height: calc(100svh - var(--height-header));
    margin: 0 auto;
}

.dialogue {
    display: grid;
    grid-template-rows: var(--height-text-balloon) var(--height-terminal) var(
            --height-drawings
        );
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "text text text"
        "line terminal terminal"
        "basile . you";
}

/*/ / DIALOGUE TEMPLATE / /*/
.text-balloon {
    grid-area: text;
    display: flex;
    align-items: center;
}

.terminal {
    grid-area: terminal;
}

.text-balloon-line {
    grid-area: line;
    display: flex;
    justify-content: center;
}

.actual-line {
    width: 2px;
    height: 100%;

    background-color: black;
}

.basile {
    grid-area: basile;

    display: flex;
    justify-content: center;
    align-items: end;
}

.you {
    grid-area: you;
    display: flex;
    justify-content: right;
    align-items: end;
}

.basile img,
.you img {
    height: 90%;
}

/*/ / OK-PAGE TEMPLATE / /*/
.ok-page {
    display: grid;
    grid-template-rows: 35% 40% var(--height-drawings);
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "text text text"
        "line terminal terminal"
        "basile . you";
}

.ok-page .text-balloon {
    font-size: 32px;
}

/*/ / no-text TEMPLATE / /*/
.no-text {
    display: grid;
    grid-template-rows: 35% 40% var(--height-drawings);
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "line terminal terminal"
        ". terminal terminal"
        "basile . you";
}

.ok-page .text-balloon {
    font-size: 32px;
}

/*/ / TERMINAL / /*/
.terminal {
    font-family: var(--terminal-text);
    font-size: var(--terminal-text-size);
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* max-height: calc(
        100svh - var(--height-header) - var(--height-drawings) -
            var(--height-text-balloon)
    ); */
    border: 4px solid gray;
}

.bar {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;

    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgb(50, 45, 142) 0%,
        rgb(102, 102, 190) 35%,
        rgb(132, 181, 211) 100%
    );
}

.bar p {
    line-height: 30px;
}

.content {
    border-top: 4px solid gray;
    padding: 30px;
    width: 100%;
    overflow-y: auto;
    background-color: var(--terminal-background);
    height: 100%;
}

.content::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

.content::-webkit-scrollbar-thumb {
    background-color: var(--matrix-color);
}

.content > * {
    margin-bottom: 10px;
}

.content a {
    color: white;
    font-family: var(--terminal-text);
    font-size: var(--terminal-text-size);
}

/*/ / LANDING PAGE / /*/
.landing {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.landing .pixel {
    margin: auto 0;
}

/*/ / GAME / /*/
.game {
    display: grid;
    grid-template-rows: var(--height-text-balloon) var(--height-terminal) var(
            --height-drawings
        );
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "terminal terminal terminal"
        "terminal terminal terminal"
        "terminal terminal terminal";
}

.game .terminal {
    margin: 30px 0;
}

.game .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    width: 50%;
}

.popup .content {
    min-height: 200px;
}

.popup .bar {
    width: 100%;
    height: 30px;

    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgb(45, 142, 45) 0%,
        rgb(109, 190, 102) 35%,
        rgb(135, 211, 132) 100%
    );
}

/*/ / LOGIN - REGISTER / /*/

.introducing {
    display: grid;
    grid-template-rows: var(--height-text-balloon) var(--height-terminal) var(
            --height-drawings
        );
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "text text text"
        "line terminal terminal"
        "basile terminal terminal";
}

.introducing .terminal {
    margin: 30px 0;
}

.matrix-text {
    color: var(--matrix-color);
    padding-bottom: 10px;
    text-shadow: 1px 0px 12px rgb(33, 188, 62);
    font-family: var(--terminal-text);
    font-size: var(--terminal-text-size);
    line-height: 30px;
}
form > * {
    margin-bottom: 10px;
}
.login {
    display: flex;
    flex-direction: column;
}

.login:first-of-type {
    padding-bottom: 30px;
}

.login input {
    width: 100%;
    height: 40px;
    border: none;
    color: white;
    font-family: var(--terminal-text);
    font-size: var(--terminal-text-size);
    background-color: initial;
}

::placeholder {
    color: rgb(198, 198, 198);
    /* border: 0.5px solid white */
}

button {
    font-size: var(--terminal-text-size);
    font-family: var(--terminal-text);
    height: 40px;
    width: fit-content;
    color: white;
    background-color: initial;
    border: none;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

/*/ / STAR YOU EARNED A SKILL! / /*/
.star {
    background-image: url(../media/new_skill/smile.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*/ / CHOSE PERSON / /*/
.choose-character {
    width: 100%;
    line-height: 0;
    font-size: 0;
}

.characters {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.choose-character label {
    height: 200px;
    padding: 20px;
}

.choose-character label::selection {
    display: none;
}

.choose-character img {
    height: 100%;
    background-color: white;
}

.choose-character img:last-of-type {
    margin-right: 0;
}

input[type="radio"] {
    display: none;
}

.characters input[type="radio"]:checked + label img {
    background-color: var(--matrix-color);
}
.characters input[type="radio"]:hover + label img {
    background-color: var(--matrix-color);
}

/*/ / Chose seat / /*/
.options {
    display: flex;
    flex-direction: column;
}

.options label {
    /* width: fit-content; */
    color: white;
    font-family: var(--terminal-text);
    font-size: var(--terminal-text-size);
    line-height: 30px;
}

.options input[type="radio"]:checked + label {
    background-color: var(--matrix-color);
}
.options input[type="radio"]:hover + label {
    background-color: var(--matrix-color);
}

/*/ / CARDS / /*/
.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cards label {
    width: calc((100% / 4) - 30px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: white 6px solid;
    margin-right: 30px;
    margin-bottom: 30px;
}

.cards label img {
    width: 100%;
}

.cards input[type="radio"]:checked + label {
    border: var(--matrix-color) 6px solid;
}
.cards input[type="radio"]:hover + label {
    border: var(--matrix-color) 6px solid;
}

/*/ / CV / /*/
.cv {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    font-size: 0.9vw;
}

.cv h1 {
    font-family: var(--terminal-text);
    font-size: 1vw;
    line-height: 1.5;
}

.full {
    height: 100%;
    aspect-ratio: 1/1.41;
    margin: 2em auto;
    box-shadow: -7px 0 0 0 black, 7px 0 0 0 black, 0 -7px 0 0 black,
        0 7px 0 0 black;
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.left {
    position: initial;
    background-color: rgb(0, 0, 0);
    color: white;
    padding-left: 20px;
    padding-top: 10px;
}
.left h2 {
    color: #5ccf32;
    font-size: 1.1vw;
}

.left img {
    height: 15vh;
}
.right {
    position: initial;
    background-color: rgb(255, 255, 255);
    padding-left: 22px;
    padding-top: 15px;
    padding-right: 10px;
}

.right h2 {
    font-size: 1.1vw;
}

.image,
.Contact,
.Skills,
.Language,
.Hobbies,
.title,
.Summary,
.Experience,
.Education,
.project {
    margin-bottom: 1vw;
}

.Education th {
    border-spacing: 10px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
    border-right: 4px solid black;
}

.project img {
    margin-top: 10px;
    border: 4px solid black;
}

/*/ / PIXEL BUTTON / /*/
.pixel,
.pixel2 {
    font-size: 25px;
    color: white;
    height: auto;
    margin: 10px;
    font-family: "VT323";

    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;

    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pixel:active,
.pixel2:active {
    top: 2px;
}

.pixel {
    line-height: 0;

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */

    border-style: solid;
    border-width: 20px;
    -moz-border-image: url(../media/button/pixelball.png) 20 stretch;
    -webkit-border-image: url(../media/button/pixelball.png) 20 stretch;
    -o-border-image: url(../media/button/pixelball.png) 20 stretch;
    border-image: url(../media/button/pixelball.png) 20 stretch;
}

.pixel p {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: auto;
    text-align: center;
    margin: -20px -20px;
    line-height: 20px;
    padding: 10px 20px;

    background: #000000;
    background: linear-gradient(135deg, transparent 10px, #000000 0) top left,
        linear-gradient(225deg, transparent 10px, #000000 0) top right,
        linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
        linear-gradient(45deg, transparent 10px, #000000 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-image: radial-gradient(
            circle at 0 0,
            rgba(204, 0, 0, 0) 14px,
            #000000 15px
        ),
        radial-gradient(circle at 100% 0, rgba(204, 0, 0, 0) 14px, #000000 15px),
        radial-gradient(
            circle at 100% 100%,
            rgba(204, 0, 0, 0) 14px,
            #000000 15px
        ),
        radial-gradient(circle at 0 100%, rgba(204, 0, 0, 0) 14px, #000000 15px);
}

.pixel2 {
    position: relative;
    display: block;
    margin: 10px;
    font-family: "VT323";
    text-transform: uppercase;

    font-size: 25px;
    color: white;
}

.pixel2::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    background: black;
    z-index: -1;
}

.pixel2::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    background: black;
    z-index: -1;
}

.pixel2 {
    padding: 10px 10px;
    position: relative;
    background: black;
    width: auto;
    z-index: 2;
}
