/*/ / GENERAL / /*/

*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --height-header: 100px;
    --height-text-balloon: 30%;
    --height-terminal: 50%;
    --height-drawings: 20%;
    --matrix-color: #5ccf32;
    --terminal-text: "Press Start 2P", system-ui;
    --terminal-text-size: 18px;
    --font-size: 24px;
    --basic-body-font: "Space Grotesk", sans-serif;
}

@media screen and (max-height: 700px) {
    :root {
        --font-size: 17px;
    }
}

body {
    width: 100vw;
    height: 100svh;

    font-family: var(--basic-body-font);
    font-size: var(--font-size);

    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: black;
}

h1 {
    font-family: var(--basic-body-font);
    font-size: 36px;
}

h1 a {
    text-decoration: none;
    color: var(--matrix-color);
}

/*/ / HEADER-SECTION / /*/

header {
    width: 80%;
    height: var(--height-header);
    display: flex;
    align-items: center;
}

#logo,
#title,
#cv-emblem {
    width: calc(100% / 3);
}

#title {
    text-align: center;
}

#logo img {
    width: 50%;
}

#cv-emblem {
    text-align: right;
}

/*/ / MAIN / /*/
main {
    width: 80%;
    height: calc(100svh - var(--height-header));
    margin: 0 auto;
}

.dialogue {
    display: grid;
    grid-template-rows: var(--height-text-balloon) var(--height-terminal) var(
            --height-drawings
        );
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "text text text"
        "line terminal terminal"
        "basile . you";
}

/*/ / DIALOGUE TEMPLATE / /*/
.text-balloon {
    grid-area: text;
    display: flex;
    align-items: center;
}

.terminal {
    grid-area: terminal;
}

.text-balloon-line {
    grid-area: line;
    display: flex;
    justify-content: center;
}

.actual-line {
    width: 2px;
    height: 100%;

    background-color: black;
}

.basile {
    grid-area: basile;

    display: flex;
    justify-content: center;
    align-items: end;
}

.you {
    grid-area: you;
    display: flex;
    justify-content: right;
    align-items: end;
}

.basile img,
.you img {
    height: 90%;
}

/*/ / TERMINAL / /*/
.terminal {
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-height: calc(
        100svh - var(--height-header) - var(--height-drawings) -
            var(--height-text-balloon)
    );
    border: 4px solid gray;
}

.bar {
    width: 100%;
    height: 30px;

    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgb(50, 45, 142) 0%,
        rgb(102, 102, 190) 35%,
        rgb(132, 181, 211) 100%
    );
}

.bar p {
    line-height: 30px;
}

.content {
    border-top: 4px solid gray;
    padding: 30px;
    width: 100%;
    overflow-y: auto;
    background-color: rgb(28, 28, 29);
    height: 100%;
}

.content a {
    color: white;
}

/*/ / LANDING PAGE / /*/
.landing {
    display: grid;
    grid-template-rows: 50% 30% var(--height-drawings);
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "text text text"
        ". terminal ."
        "basile . .";
}

/*/ / LOGIN - REGISTER / /*/
.matrix-text {
    color: var(--matrix-color);
    font-family: var(--terminal-text);
    font-size: var(--terminal-text-size);
}

.login {
    display: flex;
    flex-direction: column;
}

.login:first-of-type {
    padding-bottom: 30px;
}

.login input {
    width: 100%;
    height: 40px;
    border: none;
    color: white;
    font-size: var(--font-size);
    background-color: initial;
}

::placeholder {
    color: rgb(198, 198, 198);
    /* border: 0.5px solid white */
}

button {
    font-size: var(--terminal-text-size);
    font-family: var(--terminal-text);
    height: 40px;
    width: fit-content;
    color: white;
    background-color: initial;
    border: none;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

/*/ / CHOSE PERSON / /*/
.choose-character {
    width: 100%;
    line-height: 0;
    font-size: 0;
}

.characters {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.choose-character label {
    height: 200px;
    padding: 20px;
}

.choose-character label::selection {
    display: none;
}

.choose-character img {
    height: 100%;
    background-color: white;
}

.choose-character img:last-of-type {
    margin-right: 0;
}

input[type="radio"] {
    display: none;
}

.characters input[type="radio"]:checked + label img {
    background-color: var(--matrix-color);
}
.characters input[type="radio"]:hover + label img {
    background-color: var(--matrix-color);
}

/*/ / Chose seat / /*/
.options {
    display: flex;
    flex-direction: column;
}

.options label {
    /* width: fit-content; */
    color: white;
}

.options input[type="radio"]:checked + label {
    background-color: var(--matrix-color);
}
.options input[type="radio"]:hover + label {
    background-color: var(--matrix-color);
}

/*/ / CARDS / /*/
.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.cards label {
    width: calc((100% / 6) - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.cards label img {
    width: 100%;
}

.cards input[type="radio"]:checked + label {
    border: var(--matrix-color) 6px solid;
}
.cards input[type="radio"]:hover + label {
    border: var(--matrix-color) 6px solid;
}

/*/ / CV / /*/
.curriculum {
    height: 100%;
    margin: 0 auto;
    background-color: blue;
    aspect-ratio: 1/1.41;
}
